@import "variables.scss";
@import "button.scss";
body {
    font-family: $font-main;
}

.sizIcon {
    font-size: $sizeIcon;
}

.logoo {
    width: 100px;
}

.navbar-nav {
    .nav-item {
        .nav-link {
            &:hover {
                color: #d29f26;
            }
        }
    }
}

.about {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../imgs/sport.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    height: 30rem;
}

// **************section 1********************************
.card {
    .card-img-overlay {
        opacity: 0;
    }
    &:hover {
        .card-img-overlay {
            opacity: 1;
            background-color: rgba(0, 0, 0, 0.295);
            cursor: pointer;
        }
    }
}

.imgFor {
    height: 320px;
}

// *************section 2*******************************
.cardShop {
    .card {
        border: none;
    }
    .card-img-top {
        height: 15rem;
    }
}

// ************footer****************************
.foot {
    border: 1px solid black;
}