@import "variables.scss";
@import "button.scss";
body {
    font-family: $font-main;
}

* {
    margin: 0%;
    padding: 0%;
}

.sizIcon {
    font-size: $sizeIcon;
}

a {
    text-decoration: none;
}

.panier span {
    background-color: #d29f26;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 50%;
}

.logoo {
    width: 60px;
}

.navbar-nav {
    .nav-item {
        .nav-link {
            font-size: 19px;
            &:hover {
                color: #d29f26;
            }
        }
    }
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #d29f26;
    color: white;
    cursor: pointer;
    padding: 12px;
    border-radius: 10px;
    transition: 0.8s ease-in-out;
    opacity: 0.8;
}

#myBtn:hover {
    border-radius: 50px;
    opacity: 0.5;
}

.searchbar {
    a {
        i {
            background-color: #d29f26;
            padding: 8px;
        }
    }
    input {
        border: 1px solid #d29f26;
        padding: 3px;
    }
}


/**************************End Nav******************************************************/

.about {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../imgs/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    height: 38rem;
    padding-top: 100px;
}

.card {
    .card-img-overlay {
        opacity: 0;
    }
    &:hover {
        .card-img-overlay {
            opacity: 1;
            background-color: rgba(0, 0, 0, 0.295);
            cursor: pointer;
        }
    }
}

.imgFor {
    height: 320px;
}

// *************section 2*******************************
.cardShop {
    .card {
        border: none;
    }
    .card-img-top {
        height: 15rem;
    }
    p {
        font-size: 15px;
    }
    a &:hover {
        border: black !important;
    }
}

.cardShop .buton:focus {
    border: #000 !important;
    background: #000;
}

// **************section Nav tabs of marks************************
.tabsProduct {
    .nav-link {
        border-radius: 0;
    }
}

.tabsProduct .nav-link.active {
    background-color: #000;
    border-bottom: 3px solid #d29f26;
}

// ***********customize**************************
.costumize {
    background-color: #a18a54;
    padding-top: 80px;
    padding-bottom: 80px;
}

// ************footer****************************
.footerr {
    background-color: rgb(36, 35, 35);
    color: white;
    h5 {
        color: #d29f26;
    }
}

.newsletter {
    input {
        border: 1px solid #d29f26;
        padding: 2px;
    }
    i {
        background-color: #d29f26;
        padding: 8px;
    }
}

.socialIcon {
    font-size: 23px;
    background-color: white;
    padding: 5px;
    border-radius: 50%;
    color: black;
    opacity: 0.5;
    &:hover {
        opacity: 1;
        cursor: pointer;
    }
}

.socialIconFa {
    padding-left: 9px;
    padding-right: 9px;
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 23px;
    background-color: white;
    border-radius: 50%;
    color: black;
    opacity: 0.5;
    &:hover {
        opacity: 1;
        cursor: pointer;
    }
}

// ****************page cart.html**************************************************
.product-header {
    border-bottom: 4px solid #d29f26;
    background-color: black;
    color: #d29f26;
    h6 {
        font-weight: bold;
    }
}

.imgCart {
    width: 8rem;
}

.product {
    border-bottom: 2px solid #d29f26;
}

#totlaProduct {
    font-weight: bold !important;
    font-size: 20px;
    background-color: #d29f26;
    text-align: center;
    padding-top: 3px;
    border: 1px solid #000;
}